<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>GUI</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js" integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg" crossorigin="anonymous"></script>
</head>

<body>
    <div class="overlay"></div>
    <div class="_d-flex _flex-justify-between _flex-align-center container-fluid">
        <div class="_d-flex _d-flex-column camera-panel">
            <img id="base64image" class="camera-image _rounded rotate180">
            <img id="base64image0" class="camera-image _rounded rotate90">
        </div>
        <div class="_d-flex _d-flex-column telemetry-panel">
            <div class="_text-center switch-tool">
                <h3>Ferramenta de acoplamento:</h3>
                <div class="button-group">
                    <button type="button" class="" title="suction" id="suctionButton" onclick="toggleTool()"></button>
                </div>
            </div>
            <div class="telemetry-data">
                <div>Rotação da Lança (rad):</div> <span id="armValue">0</span>
            </div>
            <div class="telemetry-data">
                <div>Avanço da Ferramenta (m):</div> <span id="crabValue">0</span>
            </div>
            <div class="telemetry-data">
                <div>Altura da Ferramenta (m):</div> <span id="hoistValue">0</span>
            </div>
            <div class="telemetry-data">
                <div>Rotação da Ferramenta (rad):</div> <span id="crabRotationValue">0</span>
            </div>
            <div class="telemetry-data">
                <div>Ferramenta de acoplamento:</div> <span class="" id="suctionText"></span>
            </div>
            <div class="telemetry-data">
                <div>Distância do objeto (m):</div> <span class="badge badge-light" id="proximitySensor">0</span>
            </div>
            <div class="containers-data">
                <h4>Sensores de acomplamento:</h4>
                <div class="_d-grid container-flags">
                    <span id="container1">Container 1</span>
                    <span id="container2">Container 2</span>
                    <span id="container3">Container 3</span>
                    <span id="container4">Container 4</span>
                </div>
            </div>
            <div class="start-stop-buttons _text-center">
                <h4>Controle de atualização:</h4>
                <button type="button" class="btn btn-primary" onclick="startStatsRefresh()">Start</button>
                <button type="button" class="btn btn-secondary" onclick="stopStatsRefresh()">Stop</button>
            </div>
        </div>
        <div class="_d-grid movement-controls">
            <div class="control-box">
                <h3 class="control-name">Rotação da lança</h3>
                <img class="img-fluid _rounded" src="/static/lanca_rotacao.jpeg">
                <div class="_p-y-2 velocity-data _rounded">Velocidade aplicada: <span id="armText"></span></div>
                <div class="_d-flex _flex-justify-between">
                    <button type="button" class="btn btn-secondary" title="arm" onclick="decrementValue(this)">-</button>
                    <input class="_rounded _text-center" title="arm" id="arm" value="" onfocusout="updateValue(this)" onkeydown="updateValueEnter(this)" />
                    <button type="button" class="btn btn-primary" title="arm" onclick="incrementValue(this)">+</button>
                </div>
            </div>
            <div class="control-box">
                <h3 class="control-name">Avanço da ferramenta</h3>
                <img class="img-fluid _rounded" src="/static/ferramenta_avanco.jpeg">
                <div class="_p-y-2 velocity-data _rounded">Velocidade aplicada: <span id="crabText"></span></div>
                <div class="_d-flex _flex-justify-between">
                    <button type="button" class="btn btn-secondary" title="crab" onclick="decrementValue(this)">-</button>
                    <input class="_rounded _text-center" title="crab" id="crab" value="" onfocusout="updateValue(this)" onkeydown="updateValueEnter(this)" />
                    <button type="button" class="btn btn-primary" title="crab" onclick="incrementValue(this)">+</button>
                </div>
            </div>
            <div class="control-box">
                <h3 class="control-name">Altura da ferramenta</h3>
                <img class="img-fluid _rounded" src="/static/ferramenta_altura.jpeg">
                <div class="_p-y-2 velocity-data _rounded">Velocidade aplicada: <span id="hoistText"></span></div>
                <div class="_d-flex _flex-justify-between">
                    <button type="button" class="btn btn-secondary" title="hoist" onclick="decrementValue(this)">-</button>
                    <input class="_rounded _text-center" title="hoist" id="hoist" value="" onfocusout="updateValue(this)" onkeydown="updateValueEnter(this)" />
                    <button type="button" class="btn btn-primary" title="hoist" onclick="incrementValue(this)">+</button>
                </div>
            </div>
            <div class="control-box">
                <h3 class="control-name">Rotação da ferramenta</h3>
                <img class="img-fluid _rounded" src="/static/ferramenta_altura.jpeg">
                <div class="_p-y-2 velocity-data _rounded">Velocidade aplicada: <span id="crab_rotationText"></span></div>
                <div class="_d-flex _flex-justify-between">
                    <button type="button" class="btn btn-secondary" title="crab_rotation" onclick="decrementValue(this)">-</button>
                    <input class="_rounded _text-center" title="crab_rotation" id="crab_rotation" value="" onfocusout="updateValue(this)" onkeydown="updateValueEnter(this)" />
                    <button type="button" class="btn btn-primary" title="crab_rotation" onclick="incrementValue(this)">+</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        let telemetryDataRefreshMethod
        let telemetryStatsRefreshMethod

        const updateTelemetry = () => {
            const armValue = document.getElementById('armText')
            const crabValue = document.getElementById('crabText')
            const hoistValue = document.getElementById('hoistText')
            const crabRotationText = document.getElementById('crab_rotationText')
            const suctionValue = document.getElementById('suctionText')
            const suctionButton = document.getElementById('suctionButton')

            fetch("/simulation_data", {
                method: "GET"
            }).then(response => response.json()).then(telemetryStats => {
                // console.log(telemetryStats)
                armValue.textContent = telemetryStats.arm_actuator
                crabValue.textContent = telemetryStats.crab_actuator
                hoistValue.textContent = telemetryStats.hoist_actuator
                crabRotationText.textContent = telemetryStats.crab_rotation_actuator

                if (telemetryStats.suction_pad) {
                    suctionValue.textContent = "Ativado"
                    suctionValue.className = "badge badge-success"
                    suctionButton.textContent = "Desativar"
                    suctionButton.className = "btn btn-danger"
                } else {
                    suctionValue.textContent = "Desativado"
                    suctionValue.className = "badge badge-danger"
                    suctionButton.textContent = "Ativar"
                    suctionButton.className = "btn btn-success"
                }
            })

            telemetryDataRefreshMethod = window.setTimeout(updateTelemetry, 1000)
        }


        const socket = io("http://localhost:8765")
        // const socket = io('http://acce-177-55-224-173.ngrok.io')
        socket.on("connect", (socket) => {
          console.log(socket); // print`s { x: "42", EIO: "4", transport: "polling" }
        });

        socket.on("message", (message) => {
            const base64image = document.getElementById('base64image')
            const base64image0 = document.getElementById('base64image0')
            const arm_actuator_data = document.getElementById('armValue')
            const crab_actuator_data = document.getElementById('crabValue')
            const hoist_actuator_data = document.getElementById('hoistValue')
            const crab_rotation_actuator_data = document.getElementById('crabRotationValue')
            const proximity_sensor = document.getElementById('proximitySensor')
            const container1 = document.getElementById('container1')
            const container2 = document.getElementById('container2')
            const container3 = document.getElementById('container3')
            const container4 = document.getElementById('container4')

            const {
                camera_image,
                camera_image_0,
                arm_data,
                crab_data,
                hoist_data,
                crab_rotation_data,
                proximity_data,
                proximity_detection,
                containers_data
            } = message

            base64image.src = camera_image
            base64image0.src = camera_image_0
            arm_actuator_data.innerText = arm_data.toFixed(2)
            crab_actuator_data.innerText = crab_data.toFixed(2)
            hoist_actuator_data.innerText = hoist_data.toFixed(2)
            crab_rotation_actuator_data.innerText = crab_rotation_data.toFixed(2)
            proximity_sensor.textContent = proximity_data.toFixed(2)
            proximity_sensor.className = proximity_detection ? 'badge badge-warning' : 'badge badge-light'
            container1.className = containers_data[0] ? 'badge badge-success' : 'badge badge-danger'
            container2.className = containers_data[1] ? 'badge badge-success' : 'badge badge-danger'
            container3.className = containers_data[2] ? 'badge badge-success' : 'badge badge-danger'
            container4.className = containers_data[3] ? 'badge badge-success' : 'badge badge-danger'
        });

        const startStatsRefresh = () => {
            telemetryDataRefreshMethod = window.setTimeout(updateTelemetry, 500)
            telemetryStatsRefreshMethod = window.setInterval(() => socket.emit('telemetry'), 200)
        }

        const stopStatsRefresh = () => {
            clearTimeout(telemetryDataRefreshMethod)
            clearInterval(telemetryStatsRefreshMethod)
        }

        startStatsRefresh()

        const updateValue = (input) => {
            fetch(`/update_${input.title}_actuator/${input.value}`, {
                method: "POST",
                body: {}
            }).then(() => {
                input.value = ''
            });
        }

        const updateValueEnter = (input) => {
            if (event.key === 'Enter') {
                updateValue(input)
            }
        }

        const decIncValue = (button, amount) => {
            const currValue = parseInt(document.getElementById(`${button.title}Text`).textContent)
            const input = document.getElementById(button.title)
            input.value = currValue + amount;
            updateValue(input)
        }

        const incrementValue = (button) => {
            decIncValue(button, 10)
        }

        const decrementValue = (button) => {
            decIncValue(button, -10)
        }

        const updateSuction = (value) => {
            fetch(`/update_suction_pad/${value}`, {
                method: "POST",
                body: {}
            });
        }

        const toggleTool = () => {
            const suctionValue = document.getElementById('suctionText')
            if (suctionValue.textContent === "Ativado") {
                return updateSuction(0);
            }
            if (suctionValue.textContent === "Desativado") {
                return updateSuction(1);
            }
        }
    </script>
</body>
</html>