<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>GUI</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js" integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg" crossorigin="anonymous"></script>
</head>

<body>
    <div class="controls-wrapper">
        <h1 class="title">Lab 3 - Grupo A :)</h1>
        <div class="control-group">
            <div class="camera-images">
                <img id="base64image" class="camera-image">
                <img id="base64image0" class="camera-image">
                <img id="base64image1" class="camera-image">
            </div>
            <div class="control-element">
                <span class = "image-box">
                    <img class = "img-fluid" src="/static/lanca_rotacao.jpeg">
                </span>
                <div id="armValue">0</div>
                <span class="item-label">Rotação da lança:</span>
                <div class="button-group">
                    <button type="button" class="btn button-plus" title="arm" onclick="incrementValue(this)">+</button>
                    <span class="badge badge-light" id="armText"></span>
                    <button type="button" class="btn button-minus" title="arm" onclick="decrementValue(this)">-</button>
                </div>
                <div class="input-group">
                    <span>Valor desejado:</span>
                    <input class="input-control" title="arm" id="arm" value=""
                        onfocusout="updateValue(this)" onkeydown="updateValueEnter(this)">
                    </input>
                </div>
            </div>
            <div class="control-element">
                <span class = "image-box">
                    <img class = "img-fluid" src="/static/ferramenta_altura.jpeg">
                </span>
                <div id="crabValue">0</div>
                <span class="item-label">Avanço da ferramenta:</span>
                <div class="button-group">
                    <button type="button" class="btn button-plus" title="crab" onclick="incrementValue(this)">+</button>
                    <span class="badge badge-light" id="crabText"></span>
                    <button type="button" class="btn button-minus" title="crab" onclick="decrementValue(this)">-</button>
                </div>
                <div class="input-group">
                    <span>Valor desejado:</span>
                    <input class="input-control" title="crab" id="crab" value=""
                        onfocusout="updateValue(this)" onkeydown="updateValueEnter(this)">
                    </input>
                </div>
            </div>
            <div class="control-element">
                <span class = "image-box">
                    <img class = "img-fluid" src="/static/ferramenta_avanco.jpeg">
                </span>
                <div id="hoistValue">0</div>
                <span class="item-label">Altura da ferramenta:</span>
                <div class="button-group">
                    <button type="button" class="btn button-plus" title="hoist" onclick="incrementValue(this)">+</button>
                    <span class="badge badge-light" id="hoistText"></span>
                    <button type="button" class="btn button-minus" title="hoist" onclick="decrementValue(this)">-</button>
                </div>
                <div class="input-group">
                    <span>Valor desejado:</span>
                    <input class="input-control" title="hoist" id="hoist" value=""
                        onfocusout="updateValue(this)" onkeydown="updateValueEnter(this)">
                    </input>
                </div>
            </div>
            <div class="control-element">
                <span class = "image-box">
                    <img class = "img-fluid" src="/static/ferramenta_rotacao.jpeg">
                </span>
                <div id="crabRotationValue">0</div>
                <span class="item-label">Rotação da ferramenta:</span>
                <div class="button-group">
                    <button type="button" class="btn button-plus" title="crab_rotation"
                        onclick="incrementValue(this)">+</button>
                    <span class="badge badge-light" id="crab_rotationText"></span>
                    <button type="button" class="btn button-minus" title="crab_rotation"
                        onclick="decrementValue(this)">-</button>
                </div>
                    <div class="input-group">
                        <span>Valor desejado:</span>
                        <input class="input-control" title="crab_rotation" id="crab_rotation" value=""
                            onfocusout="updateValue(this)" onkeydown="updateValueEnter(this)">
                        </input>
                    </div>
            </div>
            <div class="control-element">
                <span class = "image-box"></span>
                <span class="item-label">Ferramenta:</span>
                <div class="button-group">
                    <button type="button" class="" title="suction" id="suctionButton" onclick="toggleTool()"></button>
                </div>
                <div class="tool-group">
                    <div class="state-group">
                        <span class="state-label">Estado:</span>
                        <span class="" id="suctionText"></span>
                    </div>
                </div>
            </div>
            <div class="control-element bottom-elements">
                <span class = "image-box"></span>
                <span class="item-label">Sensor de carga:</span>
                <span class="" id="forceSensorText"></span>
            </div>
            <div class="control-element bottom-elements">
                <span class = "image-box"></span>
                <span class="item-label">Distância do objeto:</span>
                <span class="badge badge-light" id="proximitySensor"></span>
            </div>
        </div>
        <!-- <div class="start-stop-buttons">
        <button type="button" class="btn btn-success" onclick="startStatsRefresh()">Start</button>
        <button type="button" class="btn btn-danger" onclick="stopStatsRefresh()">Stop</button>
        </div> -->
    </div>

    <script>
        let telemetryStatsRefreshMethod
        const updateTelemetry = () => {
            const armValue = document.getElementById('armText')
            const crabValue = document.getElementById('crabText')
            const hoistValue = document.getElementById('hoistText')
            const crabRotationText = document.getElementById('crab_rotationText')
            const suctionValue = document.getElementById('suctionText')
            const suctionButton = document.getElementById('suctionButton')
            const forceSensorText = document.getElementById('forceSensorText')

            fetch("/simulation_data", {
                method: "GET"
            }).then(response => response.json()).then(telemetryStats => {
                // console.log(telemetryStats)
                armValue.textContent = telemetryStats.arm_actuator
                crabValue.textContent = telemetryStats.crab_actuator
                hoistValue.textContent = telemetryStats.hoist_actuator
                crabRotationText.textContent = telemetryStats.crab_rotation_actuator

                if (telemetryStats.suction_pad) {
                    suctionValue.textContent = "Ativado"
                    suctionValue.className = "badge badge-success"
                    suctionButton.textContent = "Desativar"
                    suctionButton.className = "btn btn-danger"
                } else {
                    suctionValue.textContent = "Desativado"
                    suctionValue.className = "badge badge-danger"
                    suctionButton.textContent = "Ativar"
                    suctionButton.className = "btn btn-success"
                }
                if (telemetryStats.suction_pad_force_sensor) {
                    forceSensorText.textContent = "Detectado"
                    forceSensorText.className = "badge badge-success"
                } else {
                    forceSensorText.textContent = "Não detectado"
                    forceSensorText.className = "badge badge-danger"
                }
            })

            telemetryStatsRefreshMethod = window.setTimeout(updateTelemetry, 500)
        }


        // const socket = io("http://localhost:8765")
        const socket = io('http://acce-177-55-224-173.ngrok.io')
        socket.on("connect", (socket) => {
          console.log(socket); // print`s { x: "42", EIO: "4", transport: "polling" }
        });

        socket.on("message", (message) => {
            const base64image = document.getElementById('base64image')
            const base64image0 = document.getElementById('base64image0')
            const base64image1 = document.getElementById('base64image1')
            const arm_actuator_data = document.getElementById('armValue')
            const crab_actuator_data = document.getElementById('crabValue')
            const hoist_actuator_data = document.getElementById('hoistValue')
            const crab_rotation_actuator_data = document.getElementById('crabRotationValue')
            const proximity_sensor = document.getElementById('proximitySensor')
            // const suction_data = document.getElementById('suctionData')

            base64image.src = message.camera_image
            base64image0.src = message.camera_image_0
            base64image1.src = message.camera_image_1
            arm_actuator_data.innerText = message.arm_data.toFixed(2)
            crab_actuator_data.innerText = message.crab_data.toFixed(2)
            hoist_actuator_data.innerText = message.hoist_data.toFixed(2)
            crab_rotation_actuator_data.innerText = message.crab_rotation_data.toFixed(2)
            proximity_sensor.textContent = message.proximity_data
            // suction_data.textContent = message.suction_data
        });

        window.setInterval(() => socket.emit('telemetry'), 200)


        const startStatsRefresh = () => telemetryStatsRefreshMethod = window.setTimeout(updateTelemetry, 500)
        const stopStatsRefresh = () => clearTimeout(telemetryStatsRefreshMethod)

        startStatsRefresh()

        const updateValue = (input) => {
            fetch(`/update_${input.title}_actuator/${input.value}`, {
                method: "POST",
                body: {}
            }).then(() => {
                input.value = ''
            });
        }

        const updateValueEnter = (input) => {
            if (event.key === 'Enter') {
                updateValue(input)
            }
        }

        const decIncValue = (button, amount) => {
            const currValue = parseInt(document.getElementById(`${button.title}Text`).textContent)
            const input = document.getElementById(button.title)
            input.value = currValue + amount;
            updateValue(input)
        }

        const incrementValue = (button) => {
            decIncValue(button, 10)
        }

        const decrementValue = (button) => {
            decIncValue(button, -10)
        }

        const updateSuction = (value) => {
            fetch(`/update_suction_pad/${value}`, {
                method: "POST",
                body: {}
            });
        }

        const toggleTool = () => {
            const suctionValue = document.getElementById('suctionText')
            if (suctionValue.textContent === "Ativado") {
                return updateSuction(0);
            }
            if (suctionValue.textContent === "Desativado") {
                return updateSuction(1);
            }
        }
    </script>
</body>

</html>